<!DOCTYPE html>
<html>
<head>
    <title>Collect</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
    <div id="collect">
        <div>
            <label>编号</label>
            <input v-model.trim="comicNumber" type="number" name="number">
        </div>
        <div>
            <label>名称</label>
            <input v-model.trim="comicName" type="text" name="name">
        </div>
        <div>
            <label>作者</label>
            <input v-model.trim="comicAuthor" type="text" name="name">
        </div>
        <div>
            <select v-model="episodeType">
                <option value="话">话</option>
                <option value="卷">卷</option>
                <option value="番外">番外</option>
            </select>
            <button v-on:click="changeType">话</button>
            <input v-model="episode" type="text" name="type">
        </div>
        <div>
            <label>链接</label>
            <textarea v-model.trim="pages" type="" name=""></textarea>
        </div>
        <a v-bind:download="filename" v-bind:href="content" style="color: black"><button>下载json文件</button></a>
    </div>
</body>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<!-- <script type="text/javascript" src="js/lib/vue.min.js"></script> -->
<script>
    var downloadButton = new Vue({
        el: '#collect',
        data: {
            comicNumber: '',
            comicName: '',
            comicAuthor: '',
            episodeType: '',
            episode: '',
            pages: '123123\naqwer'
        },
        computed: {
            jsonObj: function(){
                let vol = {}
                let episode = {}
                let special = {}
                return [{"编号":this.comicNumber,"名称":this.comicName,"作者":this.comicAuthor,'卷':vol,'话':episode,'番外':special}]
            },
            filename: function(){
                return 'test.json'
            },
            content: function(){
                return 'data:text/plain,' + JSON.stringify(this.jsonObj)
            }
        },
        methods: {
            changeType: function(){
                console.log(123)
            }
        }
    })
</script>
</html>