<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>Comic</title>
    <link rel="shortcut icon" href="pics/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/basic.css">
    <script>
        var noGit = false
        if (localStorage['comic-no-git'] === 'true'){
            noGit = true
        }
        let src = (noGit) ? 'https://frenchhorn.github.io/generate/index.js' : 'generate/index.js'
        document.write('<script type="text/javaScript" src="' + src + '"><\/script>')
    </script>
    <script>
        var extLink = {}
        for (let i of index){
            extLink[i['编号']] = null
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row" id="searchBar" v-if="seen">
            <div class="col-md-10 col-md-offset-1 jumbotron text-center">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor:pointer" onselectstart="return false" v-on:click="changeSearchType">{{ searchArgs.searchType }}</span>
                    <input v-on:keyup="search" v-model="value" type="text" required="" placeholder="请输入搜索关键字" class="form-control input-lg">
                </div>
            </div>
        </div>

        <div class="row" id="searchResult" v-if="seen">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info" v-for="item in index" v-bind:number="item['编号']" v-bind:comic="item['名称']" v-bind:author="item['作者']">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ item['名称'] }}</h3>
                    </div>
                    <div class="panel-body">
                        <span>作者：{{ item['作者'] }}</span>
                        <button type="button" class="btn btn-default btn-sm pull-right" v-on:click="showMenu(item)">
                            <span class="glyphicon glyphicon-plus"></span> 目录
                        </button>
                        <br><br>
                        <div v-if="extLink[item['编号']]">
                            <div v-if="!isEmptyObject(extLink[item['编号']]['卷'])">
                                <button type="button" class="btn btn-default btn-md" v-for="vol in Object.keys(extLink[item['编号']]['卷'])" v-on:click="showPage(vol, extLink[item['编号']]['卷'])">第{{ vol }}卷</button> 
                            </div>
                            <div v-if="!isEmptyObject(extLink[item['编号']]['话'])">
                                <button type="button" class="btn btn-default btn-md" v-for="episode in Object.keys(extLink[item['编号']]['话'])" v-on:click="showPage(episode, extLink[item['编号']]['话'])">第{{ episode }}话</button>
                            </div>
                            <div v-if="!isEmptyObject(extLink[item['编号']]['番外'])">
                                <button type="button" class="btn btn-default btn-md" v-for="special in Object.keys(extLink[item['编号']]['番外'])" v-on:click="showPage(special, extLink[item['编号']]['番外'])">{{ special }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="comicViewer" v-if="seen">
            <div class="col-md-10" style="padding-left: 0px;padding-right: 0px;">
                <dl class="dl-horizontal">
                    <dd><img class="center-block" src="pics/1.jpg"></dd>
                    <dd><img class="center-block" src="pics/2.jpg"></dd>
                    <dd><img class="center-block" src="pics/3.jpg"></dd>
                    <dd><img class="center-block" src="pics/4.jpg"></dd>
                    <dd><img class="center-block" src="pics/5.jpg"></dd>
                </dl>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/basic.js"></script>
</html>