<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>

    <script>
        var source = {};
        var searchWord = '';
    </script>
    <script type="text/javascript" src="source/kosuzu.js"></script>
</head>

<body>
    <div class="container">
        <div class="row" id="searchBar" v-if="seen">
            <div class="col-md-10 col-md-offset-1 jumbotron">
                <div class="text-center">
                    <h1>漫画搜索</h1>
                    <input v-on:keyup="search" v-model="value" type="text" required="" placeholder="请输入搜索关键字" class="form-control input-lg">
                </div>
            </div>
        </div>
        <div class="row" id="searchResult" v-if="seen">
            <div class="col-md-10 col-md-offset-1">
                <li v-for="item in index" style="display: none;" v-bind:number="item.number" v-bind:comic="item.comic" v-bind:author="item.author" v-bind:contributor="item.contributor">{{ item.comic }}</li>
            </div>
        </div>
    </div>
</body>
<script>
    var searchBar = new Vue({
        el: '#searchBar',
        data: {
            seen: true,
            value: null,
        },
        methods: {
            search: function(){
                // console.log(this.value)
                variables.comic.hide()
                var value = this.value.replace(variables.pattern, '')
                // console.log(value)
                if (value){
                    $('#searchResult [comic*=' + value + ']').show()
                    $('#searchResult [author*=' + value + ']').show()
                    $('#searchResult [number*=' + value + ']').show()
                    $('#searchResult [contributor*=' + value + ']').show()
                }
            },
        }
    });

    var searchResult = new Vue({
        el: '#searchResult',
        data: {
            seen: true,
            index: index
        },
        methods: {
        },
    });

    var variables = {
        comic: $('#searchResult [comic]'),
        pattern: /[`~\!@$%\^&\*\(\)\-\+\=\{\}\[\]\\\|;\:'",<\.>\/\?]/g,
    }
</script>
</html>