<html lang="zh">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>

    <script>
        var source = {};
        var searchWord = '';
    </script>
    <script type="text/javascript" src="source/kosuzu.js"></script>
</head>

<body>
    <div class="container">
        <div class="row" id="searchBar" v-if="seen">
            <div class="col-md-10 col-md-offset-1 jumbotron">
                <div class="text-center">
                    <h1>漫画搜索</h1>
                    <input v-on:keyup="search" v-model="value" type="text" required="" placeholder="请输入搜索关键字" class="form-control input-lg">
                </div>
            </div>
        </div>
        <div class="row" id="searchResult" v-if="seen">
            <div class="col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</body>
<script>
    var searchBar = new Vue({
        el: '#searchBar',
        data: {
            seen: true,
            value: null,
        },
        methods: {
            search: function(){
                console.log(this.value)
            },
        }
    })

    var searchResult = new Vue({
        el: '#searchResult',
        data: {

        },
        methods: {
            
        }
    })
</script>
</html>