<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script>
        var extLink = {}
        // for (let i=1; i<index.length+1; i++){
        //     extLink[i] = null
        // }
    </script>
    <style type="text/css">
        #searchResult .panel-info{
            display: none;
        }
        #searchResult .panel-body button.btn-md{
            margin-right: 5px; 
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row" id="searchBar" v-if="seen">
            <div class="col-md-10 col-md-offset-1 jumbotron text-center">
                <h1 class="hidden-xs">漫画搜索</h1>
                <div class="input-group">
                    <span class="input-group-addon" style="cursor:pointer" onselectstart="return false" v-on:click="changeSearchType">{{ searchArgs.searchType }}</span>
                    <input v-on:keyup="search" v-model="value" type="text" required="" placeholder="请输入搜索关键字" class="form-control input-lg">
                </div>
            </div>
        </div>
        <div class="row" id="searchResult" v-if="seen">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info" v-for="item in index" v-bind:number="item['编号']" v-bind:comic="item['名称']" v-bind:author="item['作者']">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ item['名称'] }}</h3>
                    </div>
                    <div class="panel-body">
                        <span>作者：{{ item['作者'] }}</span>
                        <button type="button" class="btn btn-default btn-sm pull-right" v-on:click="showMenu(item)">
                            <span class="glyphicon glyphicon-plus"></span> 目录
                        </button>
                        <br><br>
                        <!--
                        <div v-if="item['卷'] !== 0">
                            <button type="button" class="btn btn-default btn-md" v-for="vol in item['卷']" v-on:click="loadPage(item['编号'], vol)">第{{ vol }}卷</button> 
                        </div>
                        <div v-if="item['话'] !== 0">
                            <button type="button" class="btn btn-default btn-md" v-for="episode in item['话']" v-on:click="loadPage(item['编号'], null, episode)">第{{ episode }}话</button>
                        </div>
                        <div v-if="item['番外'] !== 0">
                            <button type="button" class="btn btn-default btn-md" v-for="special in item['番外']" v-on:click="loadPage(item['编号'], null, null, special)">{{ special }}</button>
                        </div>
                        -->
                        <div menu="vol"></div>
                        <div menu="episode"></div>
                        <div menu="special"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
var searchBar = new Vue({
    el: '#searchBar',
    data: {
        seen: true,
        value: '',
        searchArgs: {
            pattern: /[`~\!@$%\^&\*\(\)\-\+\=\{\}\[\]\\\|;\:'",<\.>\/\? ]/g,
            finish: true,
            over500ms: true,
            temp: {word: '', type: ''},
            searchTypeList: ['全部', '名称', '作者'],
            searchType: '全部',
        },
    },
    methods: {
        search: function(){
            if (!this.searchArgs.finish || !this.searchArgs.over500ms){
                return false
            }
            this.searchArgs.finish = false
            this.searchArgs.over500ms = false
            setTimeout("searchBar.over500ms()", 500)
            this.searchArgs.temp['word'] = this.value
            this.searchArgs.temp['type'] = this.searchArgs.searchType
            $('#searchResult [comic]').hide()
            var value = this.value.replace(this.searchArgs.pattern, '')
            if (value){
                if (this.searchArgs.searchType === '全部' || this.searchArgs.searchType === '名称'){
                    $('#searchResult [comic*=' + value + ']').show()
                }
                if (this.searchArgs.searchType === '全部' || this.searchArgs.searchType === '作者'){
                    $('#searchResult [author*=' + value + ']').show()
                }
            }
            this.searchArgs.finish = true
            if (this.searchArgs.over500ms && (this.searchArgs.temp['word'] !== this.value || this.searchArgs.temp['type'] !== this.searchArgs.searchType)){
                this.search()
            }
        },
        over500ms: function(){
            this.searchArgs.over500ms = true
            if (this.searchArgs.finish && (this.searchArgs.temp['word'] !== this.value || this.searchArgs.temp['type'] !== this.searchArgs.searchType)){
                this.search()
            }
        },
        changeSearchType: function(){
            this.searchArgs.searchTypeList.push(this.searchArgs.searchTypeList.shift())
            this.searchArgs.searchType = this.searchArgs.searchTypeList[0]
            this.search()
        },
    }
})

var searchResult = new Vue({
    el: '#searchResult',
    data: {
        seen: true,
        index: index,
        // extLink: extLink,
    },
    methods: {
        showMenu: function(item){
            if (extLink[item['编号']]){
                console.log('have loaded file')
                return false
            }
            let headElement = document.getElementsByTagName("head")[0]
            let scriptElement = document.createElement("script")
            scriptElement.src = 'generate/' + item['编号'] + '.js'
            scriptElement.onload = function(){
                let comicObject = extLink[item['编号']]
                console.log(comicObject)
                if (!$.isEmptyObject(comicObject['卷'])){
                    // console.log(1)
                    let vol = $('[number='+item['编号']+'] [menu=vol]')
                    for (let i in comicObject['卷']){
                        vol.append($('<button type="button" class="btn btn-default btn-md">第' + i + '卷</button>'))
                    }
                }
                if (!$.isEmptyObject(comicObject['话'])){
                    // console.log(2)
                    let episode = $('[number='+item['编号']+'] [menu=episode]')
                    for (let i in comicObject['话']){
                        episode.append($('<button type="button" class="btn btn-default btn-md">第' + i + '话</button>'))
                    }
                }
                if (!$.isEmptyObject(comicObject['番外'])){
                    // console.log(3)
                    let special = $('[number='+item['编号']+'] [menu=special]')
                    for (let i in comicObject['番外']){
                        special.append($('<button type="button" class="btn btn-default btn-md">' + i + '</button>'))
                    }
                }
            }
            headElement.appendChild(scriptElement)
        },
        loadPage: function(num, vol, episode, special){
            console.log(num, vol, episode, special)
        }
    },
})

</script>
</html>