/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

*,
:before,
:after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
}


/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/

h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -.05em;
}

@media (min-width: 650px) {
    .site__title {
        font-size: 6rem;
        line-height: 1;
    }
}

.subhead {
    color: #7b8993;
    margin-bottom: .75rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
}

hr {
    border: none;
    margin-top: -1px;
    margin-bottom: 1.5rem;
    height: 1px;
    background-color: #c0c8c9;
    background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

input {
    border: 1px solid #c0c8c9;
    border-radius: 4px;
    padding: .75rem;
    margin: .375rem;
    background-color: transparent;
    font: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: underline;
    -webkit-animation: hue 60s infinite linear;
}

a:hover {
    color: #f35626;
}


/*-----------------------------------*\
  $BASE
\*-----------------------------------*/

html {
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    color: #3d464d;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow: hidden-x;
    /* Centering in The Unknown */
    text-align: center;
}

@media (min-width: 650px) {
    html {
        height: 100%;
    }
    html:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
    body {
        display: inline-block;
        vertical-align: middle;
        max-width: 38rem;
    }
}


/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site__header {
    -webkit-animation: bounceInUp 1s;
    padding: 1.5rem;
}

.site__title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

.site__content {
    -webkit-animation: bounceInUp 1s;
    -webkit-animation-delay: .1s;
    padding: 1.5rem;
}


/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


/*-----------------------------------*\
  $FONT
\*-----------------------------------*/

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(fonts/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(fonts/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}